 <div class="container margin-bottom">
  <div class="row">
    <div class="col-md-10 offset-md-1">
         <h1 class="align-center"><%= "Category: " + @category.name %></h1>
         
     </div>
    </div>  
  <div class="row category">
   <% if logged_in? and current_user.admin? %>
    <div class="col-md-4 offset-md-1">
        <span class="badge badge-pill badge-success"><%= link_to "Edit category", edit_category_path(@category) %></span>
     </div>
     <% end %>
      <div class="col-md-4 offset-md-1">
         <%= will_paginate @category_articles %>
     </div>
   </div>
   
   <%= render 'articles/article', obj: @category_articles %>
    <div class="row">
    <div class="col-md-4 offset-md-8">
         <%= will_paginate @category_articles %>
     </div>
   </div>
</div>
